node_modules/
.env
.env.txt
.env.*
.env.example

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

.vscode/
.idea/

*.log
*.zip
# Local database
data/
*.db
*.db-wal
*.db-shm
